.containerVectors{
    display: flex;
    height: 120%;
    width: 120%;
    overflow: hidden;
    margin-top: -30%;
    margin-left: -5%;
    transform: rotate(15deg);
}
.firstRounded
{
    display: flex;
    background-color: #2D6A4F;
    border-radius: 50%;
    width: 400%;
    height: 400%;
    overflow: hidden;

    /* overflow: hidden; */
}
